@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans';
    background-color: #1F1F1F;
    color: #FFFFFF;
}

header{
    background-color: #151515;
}

.header-menu, h1, h2{
    font-family: 'Bebas Neue';
}

footer{
    background-color: #151515;
}